body {
    background-color: lightgrey;
    #nav {
        background-color: blue;
    }
    .card{
        margin: 2em 0 ;
    }
    .img {
     border-radius: 5px;
     background-color: white;
    }
    .midle{
        margin: 5%;
        background-color: white;
    }
}
